<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587164267885-ta6mku2smh52pr8uojovj1uskmb5km6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587164267885-ta6mku2smh52pr8uojovj1uskmb5km6a</string>
	<key>API_KEY</key>
	<string>AIzaSyA_sx_dkGyYT8MpJBaGO2CBs5qYO0DYl1E</string>
	<key>GCM_SENDER_ID</key>
	<string>587164267885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.edu.agh.mackn.AGHMobi</string>
	<key>PROJECT_ID</key>
	<string>agh-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>agh-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587164267885:ios:086095c1023894dd</string>
	<key>DATABASE_URL</key>
	<string>https://agh-mobile.firebaseio.com</string>
</dict>
</plist>